*{
    margin: 0;
    padding: 0;
}
.corpo section .cabecalho{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 90px;
}
.corpo{
    margin-top: 35px;
    margin-left: 350px;
}
.corpo .menorNumero{
    width: 500px;
    height: 200px;
    background-color: rgb(211, 208, 208);
    border: 20px solid rgb(100, 98, 98);
    border-radius: 20px;
    margin-bottom: 10px;
}
.corpo .menorNumero .entradaValores div{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 140px;
}
.corpo .menorNumero #valorUmMenor, #valorDoisMenor{
    border-radius: 20px;
    padding-left: 4px;
}
.corpo .menorNumero #buttonMenorValor{
    font-weight: bold;
    padding: 3px;
    border-radius: 15px;
    margin-left: 210px;
    margin-top: 5px;
}
.corpo .menorNumero #buttonMenorValor:hover{
    background-color: rgb(100, 98, 98);
    color: white;
}
.corpo .menorNumero #resultadoMenor{
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 185px;
}
.corpo .maiorNumero{
    width: 500px;
    height: 200px;
    background-color: rgb(211, 208, 208);
    border: 20px solid rgb(100, 98, 98);
    border-radius: 20px;
}
.corpo .maiorNumero .entradaValores div{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 140px;
}
.corpo .maiorNumero #valorUmMaior, #valorDoisMaior{
    border-radius: 20px;
    padding-left: 4px;
}
.corpo .maiorNumero #buttonMaiorValor{
    font-weight: bold;
    padding: 3px;
    border-radius: 15px;
    margin-left: 210px;
    margin-top: 5px;
}
.corpo .maiorNumero #buttonMaiorValor:hover{
    background-color: rgb(100, 98, 98);
    color: white;
}
.corpo .maiorNumero #resultadoMaior{
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 185px;
}